.portfolio_con{
    width: 100%;
    height: 60vh;
    margin: 7rem 2rem 0 2rem;
    padding: 2rem 0;
}
.portfolio_head{
    font-size: 3rem;
    color: #46BD97;
}
.portfolio_abt{
    font-size: 1rem;
    margin-top: 2rem;
    text-indent: 5rem;
    line-height:3rem;
    word-spacing: 0.5rem;
}
.grid_con{
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto ;
    grid-row-gap: 1rem;
    grid-column-gap:0.3rem ;
}
.grid_item{
    width: 23vw;
    height:45vh;
    overflow: hidden;
}
.grid_item img{
   width: 100%;
   height: 100%;
   transition: 0.3s all ease-in-out;
   opacity: 0.5;
}
.grid_item:hover img{
   transform: scaleX(1.5);
   opacity: 1;
}
 .locked-product {
    position: relative;
    top: -21.8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
  
} 
 .locked-product .view{
    width: 38%;
    height: 38%;
    border-radius: 50%;
    background:#46BD97;
    text-align: center;
    padding: 0.5rem;
    font-weight: 200;
    font-size: 1.4rem;
    transition: 0.3s all ease-out;
    display: none;
    border: 0.1px solid rgb(103, 103, 103);
 }
 .locked-product:hover .view{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media screen and (max-width:600px){
    .portfolio_head{
        font-size: 2.5rem;
        padding: 0 0.8rem;
    }
    .portfolio_con{
        margin: 0rem 0 0 0;
     
    }
    .portfolio_abt{
        font-size: 1.3rem;
        text-indent: 0rem;
        line-height:2.1rem;
        font-weight: 200;
        word-spacing: 0rem;
        text-align: justify;
        margin-top: 1rem;
        padding: 0 0.8rem;
    }
    .grid_con{
        width: 105%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto ;
        grid-row-gap: 0;
        grid-column-gap:0 ;
    }
    .grid_item{
        width: 100%;
        height:26vh;
        overflow: hidden;
    }
 } 
 @media (min-width:600px) and (max-width:1000px){
    .portfolio_head{
        font-size: 2.5rem;
        padding: 0 0.8rem;
    }
    .portfolio_con{
        margin: 1rem 0 0 0;
     
    }
    .portfolio_abt{
        font-size: 1.3rem;
        text-indent: 0rem;
        line-height:2.1rem;
        font-weight: 200;
        word-spacing: 0rem;
        text-align: justify;
        margin-top: 1rem;
        padding: 0 0.8rem;
    }
    .grid_con{
        width: 105%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: auto ;
        grid-row-gap: 0;
        grid-column-gap:0 ;
    }
    .grid_item{
        width: 100%;
        height:26vh;
        overflow: hidden;
    }
 }
