.abt_con{
    width: 100%;
    height: 60vh;
    color: white;
    padding: 1rem;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
}
.abt_head{
    font-size: 3rem;
    color: #46BD97;
}
.abt_items{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
}
.abt_img{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.abt_para{
    width: 58%;
    font-size:1rem;
    margin-top: 2rem;
    line-height:3.2rem;
}
.abt_img img{
    width:70%;
    height: 55%;
}
@media screen and (max-width:600px){
    .abt_con{
        margin: 1rem 0 0 0;
        
        height: fit-content;
    }
    .abt_head{
        font-size: 2.5rem;
        margin: 0;
    }
    .abt_items{
        flex-direction: column;
        margin-top: 0;
    }
    .abt_img{
        display: none;
    }
    .abt_para{
        margin: 1rem 0 0.5rem 0;
        width: 100%;
        font-size: 1.3rem;
        line-height:2.2rem;
        font-weight: 200;
        text-align:justify;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .abt_con{
        margin: 2rem 0 0 0;
        height: fit-content;
    }
    .abt_head{
        font-size: 2.5rem;
        margin: 0;
    }
    .abt_items{
        flex-direction: column;
        margin-top: 0;
    }
    .abt_img{
        display: none;
    }
    .abt_para{
        margin: 1rem 0 0.5rem 0;
        width: 100%;
        font-size: 1.3rem;
        line-height:2.2rem;
        font-weight: 200;
        text-align:justify;
    }
}