.home_con{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Tilt Neon', cursive;
    padding: 2rem 1rem;
    margin: 2rem 0 0 1rem;
}
.home_name{
    font-size: 4.5rem;
    font-weight: 500;
    color: white;
}
.home_desc{
    color: rgb(126, 123, 123); 
    float: right;
    font-size: 1.2rem;
    padding-left: 1rem;
    margin-top: 1.4rem;
}
.home_btn{
    padding: 1rem ;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 25%;
    background-color: transparent;
    color: rgb(109, 193, 166);
    outline: none;
    border: 1px solid  rgb(109, 193, 166);
    font-family: 'Tilt Neon', cursive;
}
.home_btn:hover{
    background-color:rgb(109, 193, 166) ;
    color: black; 
    /* animation-name: anime;
    animation-duration: 1s;
    animation-direction: alternate; */
    background: linear-gradient(to left, rgb(109, 193, 166) 50%,transparent 0% ) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.letter{
    text-shadow:-10px 2px 2px  rgb(109, 193, 166) ;
    font-size: 6rem;
}
.sticky-sidenav{
    width: 1%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7.5rem;
    right: 2.5rem;
}
.sticky-sidenav .icon{
    margin: 0.6rem 0;
}

.home-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.scroll-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll{
    width: 5%;
    height: 80%;
    float: left;
    padding-left: 1.5rem;
    position: fixed;
    top: 35rem;
    right: 3rem;
}
.scroll:hover{
    color: black;
}
@media screen and (max-width:600px){
    .home_con{
        margin:2rem 0 0 0;
        padding-bottom: 0;
        width: 100%;
        font-family:'Tilt Neon';
        font-size: 16px;
    }
    .home_name{
        font-size: 2.1rem;
    }
    .letter{
        font-size: 2.2rem;
        text-shadow:-3px 2px 2px  rgb(109, 193, 166) ;
    }
    .home_desc{
     font-size: 0.9rem;
     padding-left: 0;
     margin-top: 1.4rem;
    }
    .sticky-sidenav{
        top: 4rem;
    }
    .sticky-sidenav .icon{
        margin: 0.6rem 0;
        font-size: 1rem;
    }
    .scroll{
        top: 34rem;
        right: 4rem;
    }
    .res-scroll{
        font-size: 4rem;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .home_con{
        margin:2rem 0 0 0;
        padding-bottom: 0;
        width: 100%;
        font-family:'Tilt Neon';
        font-size: 16px;
       
    }
    .home_name{
        font-size: 4rem;
    }
    .letter{
        font-size: 4.1rem;
        text-shadow:-3px 2px 2px  rgb(109, 193, 166) ;
    }
    .home_desc{
     font-size: 0.9rem;
     padding-left: 0;
     margin-top: 1.4rem;
    }
    .sticky-sidenav{
        top: 4rem;
    }
    .sticky-sidenav .icon{
        margin: 0.6rem 0;
        font-size: 1rem;
    }
    .scroll{
        top: 34rem;
        right: 4rem;
    }
    .res-scroll{
        font-size: 4rem;
    }
  } 