.nav_con{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 0.1px solid rgb(130, 130, 130);
}
.nav_logo{
    width: 5%;
    height:100%;
    padding: 0.3rem;
    margin-left: 2rem;
}
.nav_bar{
    width: 50%;
}
.nav_items{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav_items li{
    padding: 1rem;
    color: white;
    font-size: 1.1rem;
    font-family: 'Tilt Neon', cursive;
    cursor: pointer;

}
.logo_img{
    width: 100%;
}
.nav_items li:hover{
    color: rgb(131, 181, 165);
    margin-bottom: 0.5rem;
}
.menu-icon{
    display: none;
}
@media screen and (max-width:600px){
    .nav_con{
        padding: 0 0.5rem ;
        height: 27%;
    }
    .nav_items{
        flex-direction: column;
        height:30vh;
        position: absolute;
        top:90px;
        display:none;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav_items.active{
        margin-top: 0;
       display: block;
        background-color: #272525;
        right: 0;
        transition: all 1s ease ease-in-out;
        z-index: 1;
        width: 100%;
    }
    .nav_items li{
        text-align: center;
        width: 100%;
        display: table;
        cursor: pointer;
        color: azure;
        font-weight: 300;
        font-size: 1rem
    }
    .menu-icon{
        display: block ;
        color: aqua;
    }
    .nav_logo{
       width: 15%;
       margin-left:0;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .nav_con{
        padding: 0 0.5rem ;
        height: 27%;
    }
    .nav_items{
        flex-direction: column;
        height:30vh;
        position: absolute;
        top:90px;
        display:none;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav_items.active{
        margin-top: 0;
       display: block;
        background-color: #272525;
        right: 0;
        transition: all 1s ease ease-in-out;
        z-index: 1;
        width: 100%;
    }
    .nav_items li{
        text-align: center;
        width: 100%;
        display: table;
        cursor: pointer;
        color: azure;
        font-weight: 300;
        font-size: 1rem
    }
    .menu-icon{
        display: block ;
        color: aqua;
    }
    .nav_logo{
       width: 15%;
       margin-left:0;
    }
    .hamburger{
        font-size: 6rem;
    }
  } 