<!DOCTYPE html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="./dummy/dummy.css"/>
    <script src="./dummy/dummy.js"></script>
</head>
<body>
    <div id="div1">
        <a href="https://codepen.io/fatihbs">JS</a>
        <a href="https://codepen.io/fatihbs" class="red">CSS3</a>
        <a href="https://codepen.io/fatihbs">HTML5</a>
        <a href="https://codepen.io/fatihbs">DIV</a>
        <a href="https://codepen.io/fatihbs" class="blue">style</a>
        <a href="https://codepen.io/fatihbs">SEO</a>
        <a href="https://codepen.io/fatihbs" class="red">3D</a>
        <a href="https://codepen.io/fatihbs" class="yellow">JavaScript</a>
        <a href="https://codepen.io/fatihbs">-.-</a>
        <a href="https://codepen.io/fatihbs" class="red">CSS</a>
        <a href="https://codepen.io/fatihbs">*_*</a>
        <a href="https://codepen.io/fatihbs" class="blue">0_0</a>
        <a href="https://codepen.io/fatihbs">Class</a>
        <a href="https://codepen.io/fatihbs" class="red">IMG</a>
        <a href="https://codepen.io/fatihbs" class="blue">OOP</a>
        <a href="https://codepen.io/fatihbs">XHTML</a>
        <a href="https://codepen.io/fatihbs" class="blue">setInterval</a>
        <a href="https://codepen.io/fatihbs">W3C</a>
        <a href="https://codepen.io/fatihbs">google</a>
        <a href="https://codepen.io/fatihbs" class="yellow">apple</a>
        <a href="https://codepen.io/fatihbs">blue</a>
    </div>
</body>
</html>