<!DOCTYPE html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <script src="./TagCloud-master/dist/TagCloud.min.js"></script>
</head>
<body>
    <div class="content"></div>
    <script>
        const myTags = [
      'JavaScript', 'CSS', 'HTML',
      'Angualr', 'VueJS', 'React',
      'Python', 'Go', 'Chrome',
      'Edge', 'Firefox', 'Safari',
];
var tagCloud = TagCloud('.content', myTags,{
    // radius in px
    radius: 100,
    // animation speed
    // slow, normal, fast
    maxSpeed: 'normal',
    initSpeed: 'normal',
    // 0 = top
    // 90 = left
    // 135 = right-bottom
    direction: 135,
    
    // interact with cursor move on mouse out
    keep: true,
    useContainerInlineStyles: true,
    useItemInlineStyles: true,
    containerClass: 'tagcloud',
    itemClass: 'tagcloud--item'
    
});

    </script>
</body>
</html>