.skills_con{
    width: 95%;
    height: 70vh;
    color: white;
    padding: 1rem;
    margin: 40rem 0 0 1rem;
    display: flex;
    flex-direction: column;
   
}
.skills_head{
    font-size: 3rem;
    color: #46BD97;
}
.skills_items{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.skills_para{
    width: 45%;
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height:3.2rem;
}
.home_btn{
    padding: 1rem ;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 30%;
    background-color: transparent;
    color: rgb(109, 193, 166);
    outline: none;
    border: 1px solid  rgb(109, 193, 166);
    font-family: 'Tilt Neon', cursive;
}
.home_btn:hover{
    background-color:rgb(109, 193, 166) ;
    color: black; 
    /* animation-name: anime;
    animation-duration: 1s;
    animation-direction: alternate; */
    background: linear-gradient(to left, rgb(109, 193, 166) 50%,transparent 0% ) right;
    background-size: 200%;
    transition: .5s ease-out;
}
@media screen and (max-width:600px){
    .skills_con{
        margin-top: 43rem;
        padding: 0;
    }
    .skills_head{
        font-size: 2.5rem;   
    }
    .skills_items{
    flex-direction: column;
    }
    .skills_para{
        width: 97%;
        line-height: 2.1rem;
        font-size: 1.3rem;
        margin: 0.8rem 0;
        padding: 0 0.4rem 0 0;
        font-weight: 200;
        text-align: justify;
        word-spacing: 0;
    }
    .home_btn{
        width: 60%;
        margin: 1.4rem 0;
    }
    .skills_sphere{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .skills_con{
        margin-top: 30rem;
        padding: 0;
    }
    .skills_head{
        font-size: 2.5rem;   
    }
    .skills_items{
    flex-direction: column;
    }
    .skills_para{
        width: 97%;
        line-height: 2.1rem;
        font-size: 1.3rem;
        margin: 0.8rem 0;
        padding: 0 0.4rem 0 0;
        font-weight: 200;
        text-align: justify;
        word-spacing: 0;
    }
    .home_btn{
        width: 40%;
        margin: 2rem 0;
    }
    .skills_sphere{
        width: 100%;
    }
    .skills_sphere{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}