
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
   width: 100%;  
   height: 530vh; 
   background-color: #272525;
   color: white;
   padding: 0 4rem 1rem 4rem; 
   font-family: 'Tilt Neon', cursive;
   overflow: hidden;
   overflow-x: hidden; 
   cursor: pointer;
}
@media (min-width:0px) and (max-width:600px){
  .App{
    width: 100%;
    height: 600vh;
    padding: 0.8rem ;
    font-family: 'Tilt Neon', cursive;
  font-weight: 200;
  }
} 
@media (min-width:601px) and (max-width:1000px){
  .App{
    width: 100%;
    height: 420vh;
    padding: 0.8rem ;
    font-family: 'Tilt Neon', cursive;
    font-weight: 200;
  }
} 




