.certi-con{
    width: 100%;
    height: fit-content;
    color: white;
    padding: 1rem;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    background-color: #272525;
}
.certi-head{
    font-size: 3rem;
    margin-top: 2rem 0;
    color: #46BD97;
}
.certi-items{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}
.certi-img{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.certi-para{
    width: 100%;
    font-size: 1.8em;
    margin-top: 1rem;
    line-height:3.2rem;
}
.certi-img img{
    width:85%;
    height:90%;
}
.certi-intern{
    font-size: 2rem;
    color: #46BD97;
    margin-top: 1rem;
}
@media (min-width:0px) and (max-width:600px) {
    .certi-para{
        width: 100%;
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height:2.3rem;
    }
    .certi-head{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .certi-intern{
        font-size: 1rem;
        color: #46BD97;
        margin-top: 1rem;
    }
}